html, body {
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
}

canvas {
	border: 1px dashed gray;
}

.block {
	display: inline-block;
}

.left {
	text-align: left;
}

.show-corrections, .button {
	cursor: pointer;
	text-decoration: underline;
}

.positions input {
	width: 3em;
}

.colors {
	display: flex;
	flex-wrap: wrap;
}

.color {
	white-space: nowrap;
	margin-right: 15px;
}

.color-help {
	white-space: nowrap;
	display: inline-block;
	width: 20px;
	height: 20px;

	border: 1px dashed gray;
}

.selections {
	max-width: 110px;
}

.selection {
	display: inline-block;
	width: 20px;
	height: 20px;

	vertical-align: bottom;

	border: 1px dashed gray;
}

#color-selector {
	position: absolute;

	text-align: left;

	background-color: white;
}

.color-preview {
	text-align: center;
}

/* Editor */
#editor {
	cursor: none;
}

.editor-buttons {
	width: 40px;
	height: 100%;
}

.editor-buttons > span {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
	height: 100%;
	min-height: 100%;

	background-color: #f9c43e;
}

.editor-button {
	cursor: pointer;
	flex-shrink: 0;

	display: inline-block;
	width: 32px;
	height: 32px;

	border: 2px solid #efd288;
	border-color: #efd288 #aa7f11 #aa7f11 #efd288;

	background-repeat: no-repeat;
}

.editor-button:active, .editor-button.selected {
	border-color: #aa7f11 #efd288 #efd288 #aa7f11;
}

.editor-space {
	flex: 2;

	display: inline-block;
	width: 100%;

	background-color: #f9c43e;
}

.pencil {
	background-image: url(img/pencil.png);
}

.eraser {
	background-image: url(img/eraser.png);
}

.refresh {
	background-image: url(img/refresh.png);
}

.upload {
	background-image: url(img/upload.png);
}

/* Login */
.login-field > span {
	display: inline-block;
	max-width: 7em;
	overflow: hidden;
}

.status .success {
	color: lime;
}

.status .error {
	color: red;
}
